[package]
name = "zavora-server"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
tokio.workspace = true
zavora-agents = { path = "../zavora-agents" }
